<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="WebUI Test Suite" parallel="tests">

    <!-- 配置文件 -->
    <parameter name="propertiesPath" value="src/test/resources/config/config.properties"/>

    <!-- 项目传参 -->
    <!-- 终端选择 pc 端 -->
    <parameter name="terminal" value="pc"/>
    <parameter name="browserName" value="chrome"/>

    <test preserve-order="true" name="baidu-selenium">
    <classes>

    <!-- 门户首页 -->
    <class name="com.baidu.testcase.BaiduTest"/>
    </classes>
    </test>

    <!-- 监听器 -->
    <listeners>
        <!-- 断言监听器 -->
        <listener class-name="com.baidu.listener.AssertListener"/>
        <!-- 测试日志监听器 -->
        <listener class-name="com.baidu.listener.LogListener"/>
    </listeners>

</suite>